/* Importación de fuentes de google fonts */ 
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);


body{
   
    height: 100%; 
    font-family: 'Noto Sans', sans-serif;
    
  }
  
  .mas_opciones{
  
    width:450;
    height: auto;
    margin: 30px; 
    border-radius: 20px;  
    padding-top: 20px;
    padding-bottom: 20px;  
    background-color: #ff0101; 
    padding-left: 19px;
    
    word-spacing: 10px;
  }
  
  
  .contact_form{  
    width: 460px; 
    height: auto;
    margin: 80px auto;
    border-radius: 20px;  
    padding-top: 20px;
    padding-bottom: 20px;  
    background-color: #fbfbfb; 
    padding-left: 30px; 
  }
  
  
  input{
    background-color: #fbfbfb; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #7A3A2C; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
  }
  
  .telefono{
      background-color: #fbfbfb; 
    width: 373px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #7A3A2C; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
  
  }
  
  textarea{
    background-color: #fbfbfb; 
    width: 408px; 
    height: 200px;
    resize: none;
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #7A3A2C; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
  }
  
  
  label{
    display: block; 
    float: center;  
  }
  
  
  button{
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color: #7A3A2C; 
    border-color: #7A3A2C; 
    border-style: solid; 
    border-radius: 10px;  
    width: 420px;   
    cursor: pointer;
  }
  
  
  button p{
    color: #fff; 
  }
  
  
  span{
    color: #7A3A2C; 
  }
  
  
  .aviso{
    font-size: 13px;  
    color: #0e0e0e;  
  }
  
  
  h1{
    font-size: 39px;  
    text-align: left; 
    padding-bottom: 20px; 
    color: #7A3A2C;
  }
  
  
  h3{
    font-size: 16px; 
    padding-bottom: 30px;
    color: #0e0e0e;   
  }
  
  
  p{
    font-size: 14px; 
    color: #0e0e0e; 
  }
  
  
  ::-webkit-input-placeholder {
   color: #a8a8a8;
  }
  
  
  ::-webkit-textarea-placeholder {
   color: #a8a8a8;
  }
  
  
  .formulario input:focus{
    outline:0;
    border: 1px solid #FF2E00;
  }
  
  
  .formulario textarea:focus{
    outline:0;
    border: 1px solid #FF2E00;
  }
  *{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}