{% extends 'base.html' %}  {% load static %}


{% block content %}

<div class="fondo_ers">
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">funciones</th>
          </tr>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>se puede iniciar secion</td>
              
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>se puede mandar un formulario de contacto</td>
                
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>se puede seleccionar producto</td>
                
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>se puede agregar producto a carro de compra</td>
                
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>se pueden pagar los productos</td>
                
              </tr>
        </thead>
    </div>        
        <style>.fondo_ers{
            background-color: #ffffff;
            border-radius: 30px
          }
          
          .mover_ers{
            padding-top: 90px;
          }
          </style>
{% endblock %}






